[Unit]
Description=MediaMTX RTSP/WebRTC Server
After=network.target

[Service]
Type=simple
WorkingDirectory=__BASE_DIR__/mediamtx
ExecStart=__BASE_DIR__/mediamtx/mediamtx
Restart=always
RestartSec=5
User=__USERNAME__

[Install]
WantedBy=multi-user.target
